/* Add application styles & imports to this file! */


  
  .input-text{
    width: 100%;
    height: 100%;
  }
  
  .mat-card-header {
    justify-content: center;
}
  
.button-area {
    text-align:center
  }

  .example-form-field {
    width: 200px;
  }