<!doctype html>
<html>
<head>
</head>
<body>
  <div class="bounds">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2%">
      <div fxFlex="80">
        <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
          <div fxFlex="50">
            <mat-card class="example-card">
                <mat-card-header>Text to limmersify</mat-card-header>
                <br>
                <mat-card-content>
                  <mat-form-field appearance="fill" class="input-text">
                    <mat-label>Insert your text here:</mat-label>
                    <textarea class="text-area" matInput [(ngModel)]="inputText">{{inputText}}</textarea>
                  </mat-form-field>
                  <mat-label>Select the target language:   </mat-label>
                  <mat-select [(ngModel)]="selected_target_language">
                      <mat-option *ngFor="let target_language_type of target_language_types" [value]="target_language_type.item">
                          {{ target_language_type.viewValue }}
                      </mat-option>
                  </mat-select>
                  <mat-label>Select your language level: (1: Basic, 2: Intermediate, 3: Advanced)</mat-label>
                  <mat-slider class="example-margin" [max]="3" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="1" [(ngModel)]="selectedLevelSlider">
                  </mat-slider>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="overlay" *ngIf="spinnerWait">
          <div class="centerSpinner">
              <mat-progress-spinner class="custom-spinner" mode="indeterminate" style="margin:0 auto;" *ngIf="spinnerWait">
              </mat-progress-spinner>
          </div>
      </div>

          <div fxFlex="50">
            <mat-card class="example-card">
              <mat-card-header>Output text:</mat-card-header>
              <br>
              <mat-card-content>
                <div [innerHtml]="getHtml(outputText)"></div>
              </mat-card-content>
            </mat-card>            
          </div>
        </div>
      </div>
      <div fxFlex="20" class="button-area" fxLayoutGap="2%">
        <button mat-raised-button  (click) ="clear()" >Clear</button>  
        <button mat-raised-button  (click) ="limmersify()" >Limmersify text!</button>  
      </div>
    </div>
  </div>
</body>
</html>
